*{
    box-sizing:border-box;
    margin:0
}
* + *{
    margin-top:.8em
}
html{
    height:100%;
    min-height:100%;
    overflow-y:scroll
}
body{
    min-height:100%;
    margin:0 auto;
    max-width:70em;
    background:#eff0f1;
    color:#333;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:300;
    font-size:14px;
    line-height:1.2;
    text-align:center;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-flow:column nowrap;
    -ms-flex-flow:column nowrap;
    flex-flow:column nowrap;
}
body > *{
    margin-left:2%;
    margin-right:2%
}
p{
    line-height:1.5
}
a{
    font-weight:bold;
    color:inherit;
    text-decoration:none;
}
a:hover{
    text-decoration:underline
}
img{
    max-width:100%
}
header{
    margin-top:4%;
    margin-top:2.8em;
    margin-bottom:5%;
    margin-bottom:3.5em;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-flow:row wrap;
    -ms-flex-flow:row wrap;
    flex-flow:row wrap;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:end;
    -webkit-align-items:flex-end;
    -ms-flex-align:end;
    align-items:flex-end;
}
header > *{
    margin:0
}
header a.logo{
    display:block;
    font-weight:100;
    font-size:2em;
    -webkit-align-self:center;
    -ms-flex-item-align:center;
    align-self:center;
}
header a.logo:hover{
    text-decoration:none
}
header a.logo img{
    display:block;
    width:5em
}
header div.basket{
    display:block;
}
header div.basket > a{
    box-sizing:content-box;
    position:relative;
    display:block;
    color:#06f;
    text-indent:-9999999px;
    background:url("./images/basket.svg") 50% 50%/60% auto no-repeat;
    width:27px;
    height:25px;
    padding:1em;
}
header div.basket > a span.count{
    text-indent:0;
    position:absolute;
    font-size:.75em;
    display:block;
    color:#fff;
    background:#06f;
    border-radius:50%;
    height:1.5em;
    padding:0 .45em 0 .45em;
    top:.75em;
    right:.75em;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-flow:row nowrap;
    -ms-flex-flow:row nowrap;
    flex-flow:row nowrap;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    text-align:center
}
header div.basket.empty > a{
    pointer-events:none;
    color:#333;
}
header div.basket.empty > a span.count,header div.basket.empty > a div.popup{
    display:none
}
header div.basket.empty div.popup,header div.basket.closed div.popup{
    display:none
}
@media all and (min-width:40em){
    header div.basket{
        position:relative
    }
    header div.basket div.popup{
        width:25em;
        top:4.5em;
        right:-1.4em;
        left:auto;
    }
    header div.basket div.popup::before{
        content:'';
        position:absolute;
        top:-.65em;
        width:0;
        height:0;
        border-left:.65em solid transparent;
        border-right:.65em solid transparent;
        border-bottom:.65em solid #fff;
        right:10%
    }
}
main{
    -webkit-box-flex:1;
    -webkit-flex:1 1 auto;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
}
main ul.products{
    margin-left:0;
    margin-right:0;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-flow:row wrap;
    -ms-flex-flow:row wrap;
    flex-flow:row wrap;
    -webkit-box-pack:start;
    -webkit-justify-content:flex-start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    text-align:left;
}
main ul.products li{
    overflow:hidden;
    border-radius:3px;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.05);
    background:#fff;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-flow:column nowrap;
    -ms-flex-flow:column nowrap;
    flex-flow:column nowrap;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
}
main ul.products li div.img{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center
}
main ul.products li div.text{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-flow:column nowrap;
    -ms-flex-flow:column nowrap;
    flex-flow:column nowrap;
    -webkit-box-pack:end;
    -webkit-justify-content:flex-end;
    -ms-flex-pack:end;
    justify-content:flex-end
}
main ul.products li h1{
    color:#333;
    font-weight:inherit;
    font-size:1.5em
}
main ul.products li img{
    display:block;
    width:100%
}
main ul.products li h1 + p{
    margin-top:.5em
}
main ul.products li p.description{
    margin-bottom:auto
}
main ul.products li p.price{
    color:#000;
    line-height:1
}
main ul.products li p.sku{
    display:none
}
main ul.products li a.buy{
    margin-top:auto;
    display:block;
    color:#06f;
    font-weight:400;
    text-indent:-9999999px;
    background:url("./images/basket-add.svg") 100% 100%/75% auto no-repeat;
    min-width:3em;
    min-height:3.28em;
    padding:1em 0 0 1em;
    box-sizing:content-box;
    opacity:.7;
}
main ul.products li a.buy:hover{
    opacity:1
}
main ul.products li div.content{
    -webkit-box-flex:1;
    -webkit-flex:1 1 auto;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    margin:0;
    padding:8%;
    padding:1.65em;
    color:#999;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-flow:row nowrap;
    -ms-flex-flow:row nowrap;
    flex-flow:row nowrap;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:stretch;
    -webkit-align-items:stretch;
    -ms-flex-align:stretch;
    align-items:stretch
}
main ul.products{
    list-style-type:none;
    padding:0;
    margin-left:-1em;
    margin-right:-1em;
}
main ul.products li{
    margin:0 1em 2em 1em;
    width:calc(100% - 2em)
}
@media all and (min-width:50em){
    main ul.products[gt1]{
        list-style-type:none;
        padding:0;
        margin-left:-1.5em;
        margin-right:-1.5em
    }
    main ul.products[gt1] li{
        margin:0 1.5em 3em 1.5em;
        width:calc(50% - 3em)
    }
}
@media all and (min-width:40em){
    main ul.products[gt2]{
        list-style-type:none;
        padding:0;
        margin-left:-1.5em;
        margin-right:-1.5em
    }
    main ul.products[gt2] li{
        margin:0 1.5em 3em 1.5em;
        width:calc(50% - 3em)
    }
}
@media all and (min-width:50em){
    main ul.products[gt2]{
        list-style-type:none;
        padding:0;
        margin-left:-1em;
        margin-right:-1em
    }
    main ul.products[gt2] li{
        margin:0 1em 2em 1em;
        width:calc(33.333333333333336% - 2em)
    }
}
@media all and (min-width:60em){
    main ul.products[gt2]{
        list-style-type:none;
        padding:0;
        margin-left:-1.25em;
        margin-right:-1.25em
    }
    main ul.products[gt2] li{
        margin:0 1.25em 2.5em 1.25em;
        width:calc(33.333333333333336% - 2.5em)
    }
}
footer{
    margin-bottom:2.8em;
    color:#999
}
div.payment-methods{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-flow:row nowrap;
    -ms-flex-flow:row nowrap;
    flex-flow:row nowrap;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
}
div.payment-methods img{
    display:block;
    margin:0 .5em;
    height:20px;
    border-radius:4px;
}
div.payment-methods img.apple-pay{
    border-radius:0
}
div.popup{
    position:absolute;
    max-width:30em;
    margin:auto;
    left:0;
    right:0;
    top:2em;
    border-radius:3px;
    color:#333;
    box-shadow:0 5px 30px 0 rgba(0,0,0,0.3);
    z-index:999;
}
div.popup > *{
    margin:0
}
div.popup > *:first-child{
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    overflow:hidden
}
div.popup > *:last-child{
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    overflow:hidden
}
div.popup ul.lines{
    margin:0;
    padding:0;
    list-style-type:none;
}
div.popup ul.lines > li{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-flow:row nowrap;
    -ms-flex-flow:row nowrap;
    flex-flow:row nowrap;
    -webkit-box-align:stretch;
    -webkit-align-items:stretch;
    -ms-flex-align:stretch;
    align-items:stretch;
    background:#fff;
    font-size:.75em;
    margin:0;
    padding:2em;
}
div.popup ul.lines > li > *{
    margin:0
}
div.popup ul.lines > li div.img{
    -webkit-box-flex:1;
    -webkit-flex:1 1 25%;
    -ms-flex:1 1 25%;
    flex:1 1 25%;
}
div.popup ul.lines > li div.img img{
    display:block;
    border-radius:3px;
    width:100%
}
div.popup ul.lines > li div.body{
    -webkit-box-flex:1;
    -webkit-flex:1 1 auto;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    padding-left:1.5em;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-flow:row wrap;
    -ms-flex-flow:row wrap;
    flex-flow:row wrap;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:end;
    -webkit-align-items:flex-end;
    -ms-flex-align:end;
    align-items:flex-end;
}
div.popup ul.lines > li div.body h1{
    width:100%;
    margin-bottom:auto;
    font-weight:300
}
div.popup ul.lines > li div.body div.quantity{
    font-size:1.25em;
    border:1px solid #ddd;
    border-radius:3px;
    max-width:6em;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-flow:row nowrap;
    -ms-flex-flow:row nowrap;
    flex-flow:row nowrap;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
}
div.popup ul.lines > li div.body div.quantity > *{
    margin:0
}
div.popup ul.lines > li div.body div.quantity input,div.popup ul.lines > li div.body div.quantity button{
    text-align:center;
    font-size:inherit;
    background:none;
    border:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    line-height:1;
    height:1.5em
}
div.popup ul.lines > li div.body div.quantity button{
    -webkit-box-flex:0;
    -webkit-flex:0 0 1.2em;
    -ms-flex:0 0 1.2em;
    flex:0 0 1.2em;
    font-size:1.5em;
    cursor:pointer;
    padding:0
}
div.popup ul.lines > li div.body div.quantity button.less{
    padding-left:.3em
}
div.popup ul.lines > li div.body div.quantity button.more{
    padding-right:.3em
}
div.popup ul.lines > li div.body div.quantity div{
    -webkit-box-flex:1;
    -webkit-flex:1 1 1em;
    -ms-flex:1 1 1em;
    flex:1 1 1em
}
div.popup ul.lines > li div.body div.quantity input{
    width:100%;
    height:2.3em
}
div.popup ul.lines > li div.body div.quantity button.less{
    color:#f00
}
div.popup ul.lines > li div.body div.quantity button.more{
    color:#06f
}
div.popup ul.lines > li div.body p.amount{
    font-weight:600
}
div.popup div.summary{
    font-size:1.25em;
    background:#f1f1f1;
    padding:1.2em;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-flow:row nowrap;
    -ms-flex-flow:row nowrap;
    flex-flow:row nowrap;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
}
div.popup div.summary > *{
    line-height:1;
    margin:0
}
div.popup div.summary p.amount{
    font-weight:500
}
div.popup button.checkout{
    font-size:1em;
    padding:1.5em;
    width:100%;
    background:#0166ff;
    color:#fff;
    text-transform:uppercase;
    border:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    font-weight:500;
    cursor:pointer;
}
div.popup button.checkout.apple-pay{
    background-image:-webkit-named-image(apple-pay-logo-white);
    background-size:auto 35%;
    background-repeat:no-repeat;
    background-position:50% 50%;
    color:transparent
}
ul.usps{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-flow:row wrap;
    -ms-flex-flow:row wrap;
    flex-flow:row wrap;
    -webkit-justify-content:space-around;
    -ms-flex-pack: distribute;
    justify-content:space-around;
    margin:0;
    padding:0;
    font-size:1.25em;
    font-weight:100;
}
ul.usps > *{
    margin:1.5em
}
em{
    font-weight:500;
    font-style:normal
}
@media all and (min-width:60em){
    body{
        text-align:left
    }
    footer{
        position:relative;
    }
    footer div.payment-methods{
        position:absolute;
        right:0;
        bottom:0
    }
}
